.container {
position: relative;
width: 1440px;
height: 1024px;

background: rgba(255, 255, 255, 0.8);
}

.rectangle {
position: absolute;
width: 1440px;
height: 1024px;
left: 0px;
top: 0px;

background: #FFFFFF;
}


.headertype {
margin-top: 50px;
position: absolute;
width: 1231px;
height: 187px;
left: 105px;
top: 34px;
font-family: Knewave;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 120px;
color: #000000;
}

.headertype2 {
position: relative;
text-align: center;
Font-Family: Knewave;
Font-Style: Regular;
font-size: 80px;
text-decoration-color: black;
}

a:link, a:visited {
text-decoration: none;
text-decoration-color: black;
}

.pagesband3 {
width: 665px;
height: 66px;
margin-left: auto;
margin-right: auto;
text-align: center;
}

.menupage {
position: relative;
text-align: center;
width: 98px;
height: 46px;
Font-Family: Knewave;
Font-Style: Regular;
Font-Size: 40px;
Line-Height: 46px;
Fill: Solid: #000000;
}

.gallerypage {
position: relative;
text-align: center;
width: 129px;
height: 46px;
Font-Family: Knewave;
Font-Style: Regular;
Font-Size: 40px;
Line-Height: 46px;
Fill: Solid: #000000;
}

.aboutpage {
position: relative;
text-align: center;
width: 107px;
height: 46px;
Font-Family: Knewave;
Font-Style: Regular;
Font-Size: 40px;
Line-Height: 46px;
Fill: Solid: #000000;
}

.contactpage {
position: relative;
text-align: center;
width: 145px;
height: 46px;
Font-Family: Knewave;
Font-Style: Regular;
Font-Size: 40px;
Line-Height: 46px;
Fill: Solid: #000000;
}


.menu {
width: 98px;
height: 46px;
Font-Family: Knewave;
Font-Style: Regular;
Font Size: 40px;
margin-bottom: 46px;
text-align: Left;
Fill: Solid: #000000;
text-decoration: none;

}


.gallery {
position: absolute;
left: 24.06%;
right: 56.54%;
top: 0%;
bottom: 4.55%;

font-family: Knewave;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 40px;

color: #000000;
}

.about {
position: absolute;
left: 52.78%;
right: 31.13%;
top: 4.55%;
bottom: 0%;

font-family: Knewave;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 40px;

color: #000000;
}

.contact {
position: center;
left: 78.2%;
right: 0%;
top: 4.55%;
bottom: 0%;

font-family: Knewave;
font-style: normal;
font-weight: normal;
line-height: normal;
font-size: 40px;

color: #000000;
}

.menubackground {
    position: absolute;
}

.menuimage {
    position: relative;
    top: 245px;
    left: 278px;
}
