div {
    
    text-decoration-color: white;
}

.container {
    width: 1440px;
    height: 1024;
    margin-left: auto;
    margin-right: auto;
}


.headertype {
margin-left: auto;
margin-right: auto;
width: 1231px;
height: 187px;
font-family: knewave;
Font-Style: Regular;
Font Size: 120px;
Line-Height: 186px;
text-align: left;
Fill: Solid;
color: black;
}

